<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
	<title>Error</title>
</head>

<body>
	{{>navbar}}
	<div class="container error">
		<i class="fas fa-exclamation-triangle fa-lg" style="color:red;"></i>
		<div class="error-alert"> {{error}}</div>
	</div>

</body>
</html>