<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Tracker</title>
</head>
<body>
    {{>navbar}}
    <div class="container">
        <h1>Welcome to the home page!</h1>

        <form action="/country" method="get" target="_blank">
            <label for="CountryName">Country name:</label>
            <input type="text" id="CountryName" name="CountryName"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
    
</body>
</html>