<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Rank</title>
</head>
<body>
    {{>navbar}}
    <h1 class="text-center">The most infected countries with covid today</h1>
    <p>{{>tableRank}}</p>
</body>
</html>