<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Worldwide</title>
</head>
<body>
    {{>navbar}}
    <h1 class="text-center">The global COVID-19 totals for today</h1>
    {{>barChartWorldwide}}  
    {{>pieChart}}
    {{>pieChartWorldwide}}

</body>
</html>